@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cyan: #67e8f9;
    --blue: #1d4ed8;
    --red: #a10e0e;
    --pink: #d81d5b;
}

@font-face {
    font-family: 'Operator Mono';
    src: url('./assets/fonts/OperatorMono-Book.otf');
}

@font-face {
    font-family: 'Operator Mono Italic';
    src: url('./assets/fonts/OperatorMono-BookItalic.otf');
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff5 #0005;
}

*::-webkit-scrollbar {
    width: .5vw;
}

@media only screen and (width > 640px) {
    *::-webkit-scrollbar {
        width: .4vw;
    }
}

@media only screen and (width > 1024px) {
    *::-webkit-scrollbar {
        width: .2vw;
    }
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #000;
}

.bg-pan {
    background: linear-gradient(to right,
            var(--cyan),
            var(--blue),
            /* var(--pink), */
            /* var(--red), */
            var(--cyan)
    );
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: bg-pan 2s linear infinite;
}

@keyframes bg-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* For parlallax scrolling effect */
.perspective-10 {
    perspective: 10px;
}

.preserve-3d {
    transform-style: preserve-3d;
}